.logo img{
    width: 60px;
    cursor: pointer;
    margin-left: 100px;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  } 
  nav {
   
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menuIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menuIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s ease-out;
  }
  nav .mainMenu li a:hover {
    background-color: #ff960b;
    color:black;
    border-radius: 15px;
    border-color: #f5f6f7;
    padding-left: 10px;
    
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
    align-items: center;
  }
    nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
    margin-right: 50px;
  }
  .light {
    filter: invert(1);
  }
  @media (max-width: 375px){
    .blog.logo img{
      margin-left: 50px;
    }
    .blog.heading{
      padding: 10px;
    }
    .blog.card-coin{
      margin-left: 25px;
    }
  }
  @media (max-width: 580px){
    .blog.logo img{
      margin-left: 50px;
    }
    .blog.heading{
      padding: 50px;
    }
    .blog.card-coin{
      margin-left: 25px;
    }
  }
  @media (max-width: 785px){
    .blog.logo img{
      margin-left: 50px;
    }
    .blog.heading{
      padding: 10px;
    }
    .blog.card-coin{
      margin-left: 25px;
    }
  } 

.col {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
