body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f5f6f7;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.logo img{
  width: 60px;
  cursor: pointer;
  margin-left: 100px;
}


.login .btn{
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 10px 0 10px;
  background:  #ff960b;
  position: absolute;
  top: 0;
  right: 0;
  border: unset;
  cursor: pointer;  
}
nav {
   
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

.menuIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-out;
}
nav .mainMenu li a:hover {
  background: #ff960b;
  border-radius: 15px;
  color: black;
  padding-left: 10px;
  font: optional;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
}
  nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
  margin-right: 50px;
}
.light {
  filter: invert(1);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
  box-shadow: none;
}

/* Media query for extra small screens */
@media (max-width: 575px) {
  html, body {
    height: 100%;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .featurette-container {
    flex: 1;
    justify-content: center;
  }
  .col-md-7, .custom-h1, .lead {
    flex: 1;
    justify-content: center;
  }
  .lead {
    font-size: 1rem; /* Adjust font size on smaller screens */
    line-height: 1.4; /* Adjust line height on smaller screens */
  }
}


.featurette-container {
  width: 75%;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
}

.featurette-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  filter: blur(10px);
  z-index: -1;
}

.featurette {
  display: flex;
  flex-wrap: wrap;
}

.featurette .col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.featurette .col-md-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.custom-h1 {
  cursor: pointer;
  transition: text-decoration 0.3s ease, color 0.3s ease;
  padding-left: 100px;
}

.custom-h1:hover,
.custom-h1:focus,
.custom-h1:active {
  text-decoration: underline;
  color: #ff960b;
}

.custom-h2 {
  cursor: pointer;
  transition: color 0.3s ease;
}

.custom-h2:hover,
.custom-h2:focus,
.custom-h2:active {
  color: #ff960b;
}

.featurette-image {
  transition: transform 0.3s ease;
  padding-left: 150px;
}

.featurette-image:hover,
.featurette-image:active {
  transform: scale(1.1);
}
